@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Final Desarrollo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">API para recuperación de Ventas</a>.</p>
</div>
